P {font-size:12pt;font-weight:bold; text-align:justify}
.question {color:brown;  font-style:italic}
.answer {color:#23238e}
.big {font-size:14pt; text-decoration:underline; text-transformation:uppercase; color:red}
